footer {
    clear: both;
    width: 100%;
    border-top: 10px solid #e84c3d;
    padding: 15px 0;
    margin-top: 10px;
}

footer p {
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0 0 15px;
}

.copyright {
    margin-top: 20px;
    float: left;
    width: 50%;
    padding-right: 10px;
}

.footer-links {
    width: 50%;
    margin-top: 20px;
    float: left;
    text-align: right;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links ul li {
    display: inline-block;
    padding: 0 15px;
}