.homepage-main-container {
    width: 100%;
    clear: both;
}

.widget {
    float: left;
    width: 33%;
    padding: 15px;
}

.widget h1 {
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
    padding: 0 10px 0px;
    font-size: 36px;
}

.widget h3 {
    color: #fff;
    margin: 0;
    padding: 0 10px 10px;
    font-size: 20px;
    font-weight: 300;
}

.widget-pic {
    display: block;
    width: 100%;
    padding: 10px;
}

.widget p {
    letter-spacing: 4px;
    padding: 10px;
    margin: 0;
    font-weight: 300;
}

.widget .sign-up {margin: 10px;}

.widget-icon {
    float: left;
    width: 20%;
}

.widget-icon img {
    width: 100%;
    max-width: 88px;
    max-height: 88px;
}

.widget-title {
    width: 80%;
    float: left;
    padding: 0 15px;
}

.banner-container {
    width: 100%;
    position: relative;
}

.banner {
    display: block;
    width: 100%;
}

.banner-text {
    display: block;
    position: absolute;
    top: 50%;
    padding: 15px;
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.banner-text h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    text-align: center;
}