@media only screen and (max-width: 769px) {
    .widget {
        width: 95%;
        float: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 610px) {
    .widget {
        width: 95%;
        float: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .banner-text h1 {font-size: 36px; margin: 0 0 10px;}
    .keto-logo h1 {font-size: 25px;}
    .nav-links {font-size: 15px;}
    .sign-up-container .sign-up {font-size: 14px;}
    .nav {width: 80% !important;}
    .sign-up-container {width: 100% !important; padding: 15px 0 0 0;}
    .header {min-height: 170px !important;}
}