<div class="banner-container">
    <%= image_tag 'keto-banner.jpg', :class => "banner" %>
    <div class="banner-text">
        <h1>Ketogenic Diet</h1>
        <%= link_to "Learn More", root_path, class: "sign-up" %>
    </div>
</div>