<footer>
    <div class="container">
        <p>Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the content on this website, including files downloadable from this website, without the permission of the copyright owner.</p>
        <div class="copyright">
            <p>Copyright 2017 Design Interactive. All Rights Reserved<br>
Designed and created by Design Interactive</p>
        </div>
        <div class="footer-links">
            <ul>
                <li><%= link_to "Home", root_path, class: "nav-links" %></li>
                <li><%= link_to "About", root_path, class: "nav-links" %></li>
                <li><%= link_to "Foods", root_path, class: "nav-links" %></li>
                <li><%= link_to "Workouts", root_path, class: "nav-links" %></li>
            </ul>
        </div>
    </div>
</footer>